{% extends 'index.html'%}

{% block nosaukums%} saraksts {% endblock %}

{% block saturs %}

<ol>
    <li>{{vardi[0]}} <img src = {{bildes[0]}} height="50px" width="50px"></li>
    <li>{{vardi[1]}} <img src = {{bildes[1]}} height="50px" width="50px"></li>
    <li>{{vardi[2]}} <img src = {{bildes[2]}} height="50px" width="50px"></li>
</ol>

<h3>NO</h3>
<ol>
    {% for i in range(len(vardi)) %}
    <li>{{vardi[i]}} <img src = {{bildes[i]}} height="50px" width="50px"></li>
    {% endfor %}


</ol>


{% endblock %}